.parent{
  display: grid;
  grid-template: 1fr auto 1fr / 1fr 70vw 1fr;
}

.header{
  grid-column: 1/4;
}

.left_side{
  grid-column: 1/2;
  border: solid 2px white;

}

.main{
  grid-column: 2/3;
  border: solid 2px white;

}

.right_side{
  grid-column: 3/4;
  border: solid 2px white;

}

.footer{
  grid-column: 1/4;
  border: solid 2px white;

}